* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}

.heading-desc {
  background-image: url(donate-today-main/images/donation13.jpg);
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  background-size: cover;
  height: 600px;
}
.heading-desc span {
  color: rgb(77, 255, 0);
}

.heading-desc h1 {
  color: white;
  font-size: 50px;
  padding-top: 160px;
}

.heading-desc p {
  color: white;
  margin-top: 40px;
  margin-bottom: 50px;
}

.link-button {
  text-decoration: none;
  background-color: rgb(249, 8, 84);
  padding: 15px 30px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

.donate-desc {
  text-align: center;
  margin-top: 100px;
}

.donate-desc h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.donate-desc p {
  margin-bottom: 70px;
}

.donate-amount {
  display: flex;
  justify-content: center;
}

.amount {
  width: 150px;
  height: 80px;
  font-size: 30px;
  background-color: rgb(234, 244, 244);
  margin-right: 20px;
  text-align: center;
  padding-top: 30%;
  border-radius: 10px;
}

.amount-500 {
  border: 3px solid rgb(244, 82, 54);
  color: tomato;
  background-color: rgb(248, 212, 206);

  width: 150px;
  height: 80px;
  font-size: 30px;
  margin-right: 20px;
  text-align: center;
  padding-top: 30%;
  border-radius: 10px;
}

.input-amount {
  width: 500px;
  margin-left: 300px;
  margin-top: 50px;
  margin-bottom: 60px;
  border: none;
  border-bottom: 1px solid rgb(225, 202, 202);
  padding: 20px;
  font-size: 26px;
  padding-left: 310px;
}

.link-button-donate {
  text-decoration: none;
  background-color: rgb(249, 128, 8);
  padding: 15px 30px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 48%;
}

.donate-plan {
  text-align: center;
  margin-top: 100px;
}
.donate-plan h1 {
  font-size: 50px;
}

.donate-plan p {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.card {
  display: flex;
  justify-content: center;
  text-align: center;
}

.card-item {
  width: 330px;
  height: 250px;
  padding-left: 20px;
  padding-top: 50px;
  margin-right: 20px;
  border-radius: 10px;
}

.card-item h1 {
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.card-color1 {
  background-color: rgb(221, 212, 212);
}
.card-color2 {
  background-color: rgb(245, 236, 182);
}
.card-color3 {
  background-color: rgb(249, 211, 211);
}

.sylhet-crisic {
  display: flex;
  margin-top: 100px;
  height: 500px;
  background-color: bisque;
}

.sylhet-crisic-desc {
  width: 50%;
  margin-top: 70px;
  margin-left: 20px;
}

.sylhet-crisic-desc h1 {
  font-size: 35px;
  margin-bottom: 60px;
}

.sylhet-crisic-desc p {
  width: 600px;
  margin-bottom: 50px;
}

.link-button-contribute {
  text-decoration: none;
  background-image: linear-gradient(rgb(248, 151, 167), blue);
  padding: 15px 30px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

.sylhet-child-image {
  height: 400px;
  width: 600px;
  margin-top: 55px;
  margin-left: 20px;
  border-radius: 10px;
}

.update-part {
  text-align: center;
  margin-bottom: 100px;
}

.update-desc h1 {
  margin-top: 8rem;
  margin-bottom: 1.5rem;
  font-size: 3rem;
}
.update-desc p {
  opacity: 0.7;
  margin-bottom: 3rem;
}

.input-link-button {
  padding-top: 85px;
  margin-left: 25%;
  width: 700px;
  height: 120px;
  background-color: rgb(255, 195, 195);
}

.input-email {
  width: 230px;
  padding: 17px;
  background-color: rgb(225, 219, 213);
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.link-button-subscribe {
  text-decoration: none;
  background-image: linear-gradient(rgb(248, 151, 167), rgb(24, 59, 3));
  padding: 15px 30px;
  color: white;
  font-weight: bold;
  margin-left: -5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

footer {
  background-color: rgb(11, 8, 58);
  color: white;
  text-align: center;
}
footer h1 {
  padding-top: 35px;
  padding-bottom: 30px;
  color: crimson;
}
footer p {
  padding-bottom: 35px;
}
